.dashboard-performance-card {
    padding: 30px;
    padding-left: 10px;
    padding-top: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}

.dashboard-performance-card-header {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-areas:
        "title select"
        "desc desc";
    align-items: center;
    padding-left: 20px;
}

.dashboard-performance-card-header h3 {
    grid-area: title;
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 0px;
}

.dashboard-performance-card-header p {
    grid-area: desc;
    margin-top: -10px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0px;
    color: #707070;
}

.dashboard-performance-title-km {
    color: #0B23F4;
}

.dashboard-performance-legend {
    display: flex;
    align-items: start;
    margin-top: 15px;
    padding-left: 20px;
}

.dashboard-performance-dot {
    width: 8px;
    height: 8px;
    align-self: center;
    border-radius: 50%;
    display: inline-block;
    margin-right: 6px;
}

.dashboard-performance-dot-km {
    background-color: #7987FF;
}

.dashboard-performance-legend-text {
    font-size: 12px;
    color: #707070;
}