body, html {
  background-color: #F2F3FF;
  margin : 0;
  padding : 0;
}

.dashboard-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  margin-top: auto;
}

a {
  text-decoration: none;
  color: inherit;
}