body, html {
    overflow-y: hidden;
}

.login-page {
    display: grid;
    grid-template-columns: 40% 60%;
    height: 100vh;
    max-height: fit-content;
    width: 100%;
    background-color: #F2F3FF;
}

/* Left Section */
.left-section {
    display: grid;
    grid-template-rows: 15% 85%;
    padding-left: 15%;
    padding-right: 20%;
    padding-bottom: 15%;
    padding-top: 5%;
}

.form-section {
    background-color: white;
    display: grid;
    grid-template-rows: auto auto auto auto;
    width: 100%;
    height: 100%;
    max-height: 617px;
    border-radius: 20px;
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 5%;
    padding-bottom: 10%;
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
}

.form-group {
  margin-bottom: 5%;
}

.form-section h1 {
    font-weight: 600;
    font-style: normal;
    font-size: 28px;
    line-height: 100%;
    letter-spacing: 0px;
    color: #0B23F4;
}

.form-section h2 {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-style: Medium;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 0px;
    color: #111111;
}

.form-section h3 {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0px;
    color: #707070;
}

/* Right Section */
.right-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: blue;
    background-image: url('../../../assets/images/login/right-section.jpg');
    background-size: cover;
    background-position: bottom;
    justify-content: flex-end;
    height: 122%; /* Sur élévation de la valeur pour correspondre à la maquette */
    align-items: flex-end;
}

.info-bulle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 256px;
    height: 30px;
    border-radius: 50px;
    padding: 16px;
    background-color: #ffffff;
    margin-bottom: 230px;
    margin-right: 22px;
}

.info-bulle span {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0px;
    text-align: center;
    color: #0B23F4;
}

/* Accessibilité W3C */
/** Classe pour masquer visuellement les éléments tout en les rendant accessibles aux lecteurs d'écran pour garder la logique de la Section droite et gauche*/
.W3C-visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}